#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.btn {
    display: inline-block;
    border: 0;
    background-color: #0e2954;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover {
    background-color: #2c5ba7;
}
.disabled {
    background-color: #0e295490;
}
textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}
nav {
    background-color: #0e2954;
    margin-bottom: 20px;
    display: flex;
}
nav a {
    color: white;
    padding: 15px 20px;
}

nav a:hover {
    background-color: #2c5ba7;
}
nav a.user {
    margin-left: auto;
    justify-items: end;
}
